.:{{ coredns_port }} {
    errors
    log
    reload
    cache 60

{% if coredns_static_domains | length > 0 %}    hosts {
{% for domain in coredns_static_domains %}        {{ coredns_bind_ip }} {{ domain }}
{% endfor %}        fallthrough
    }

{% endif %}{% for zone in coredns_wildcard_zones %}    template IN A {
        match ^([a-zA-Z0-9_-]+)\.{{ zone | replace('.', '\.') }}\.$
        answer "{{ '{{' }} .Name {{ '}}' }} 60 IN A {{ coredns_bind_ip }}"
        fallthrough
    }

{% endfor %}    forward . {{ coredns_forwarders | join(' ') }}
}
