---
- name: Create base directory
  file:
    path: "{{ edge_gateway_base_path }}"
    state: directory
    mode: '0755'

- name: Create nginx config directory
  file:
    path: "{{ edge_gateway_base_path }}/nginx"
    state: directory

- name: Create certbot directories
  file:
    path: "{{ edge_gateway_base_path }}/certbot/{{ item }}"
    state: directory
  loop:
    - conf
    - www

- name: Create docker network
  community.docker.docker_network:
    name: "{{ edge_gateway_network }}"

- name: Render docker-compose
  template:
    src: docker-compose.yml.j2
    dest: "{{ edge_gateway_base_path }}/docker-compose.yml"

- name: Render nginx.conf
  template:
    src: nginx.conf.j2
    dest: "{{ edge_gateway_base_path }}/nginx/nginx.conf"

- name: Render site configs
  template:
    src: site.conf.j2
    dest: "{{ edge_gateway_base_path }}/nginx/{{ item.domain }}.conf"
  loop: "{{ edge_gateway_apps }}"

- name: Start Edge Gateway stack
  command: docker compose up -d
  args:
    chdir: "{{ edge_gateway_base_path }}"
