---
- name: Deploy Edge Gateway
  hosts: edge_gateway_servers
  become: true

  roles:
    - role: edge_gateway
      vars:
        edge_gateway_email: "admin@example.com"

        edge_gateway_apps:
          - domain: "vscode.example.com"
            upstream: "vscode:8080"

          - domain: "app.example.com"
            upstream: "app:80"
