server {
    listen 80;
    server_name {{ item.domain }};

    location / {
        resolver 127.0.0.11 valid=10s;

        set $upstream "{{ item.upstream }}";

        proxy_pass http://$upstream;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
